.benefits{
    display: flex;
    gap: 64px;
    padding: 0 20%;
    padding-bottom: 128px;
    color: white;
    background: grey;
    margin-bottom: 128px;
}

.benefit{
    max-width: 20vw;
}

.benefits-title{
    min-width: 240px;
    font-size: 36px;
    margin: 0;
    position: relative;
    cursor: default;
}

  
.benefits-title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .benefits-title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.benefit-description{
    margin: 0;
}